body {
    padding: 0;
    margin: 0;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

a {
  color: #00B7FF;
}

section {
    max-width: 768px;
    margin: 10px auto 30px auto;
    padding: 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    margin: 10px 0 20px 0;
    font-size: 74px;
}

#stats {
    max-width: 550px;
}

#stats ul {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}

#stats li {
    list-style: none outside none;
    margin: 5px 0 15px 0;
}

#quotes p {
    line-height: 24px;
    margin-bottom: 20px;
}